@use '../helpers' as *;

:root {
  --font-family-base: 'Poppins', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(40)};

  --transition-duration: 0.3s;

  --100vw: calc(100vw - var(--scrollbar-width));


  @include laptop {
    --container-padding-x: #{rem(20)};
  }
}
