@use '@/styles/helpers' as *;

.header {
  width: 100%;
  border-bottom: rem(1) solid var(--border);

  &Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(20);

  }

  &Menu {
    &List {
      display: flex;
      align-items: center;
    }
  }
}